<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        <img src="/smoothie.png" alt="" />
    </div>
    <div class="headings">
        <h2>Employee Attendance</h2>
        <a href="/details" class="btn">View Details</a>
    </div>
</header>

<%- include('partials/footer'); -%>
